.affix {
    top: 0;
    width: 100%;
}

.affix + .container-fluid {
    padding-top: 70px;
}

.modal-header h1 {
    text-align: left;
}

.modal-header img {
    float: left;
    width: 150px;
    height: 100px;
    -webkit-filter: invert(1);
    filter: invert(1);
}

.modal-header h4 {
    text-align: center;
}