.affix {
    top: 0;
    width: 100%;
}

.affix + .container-fluid {
    padding-top: 70px;
}

.modal-header h1 {
    text-align: left;
}

.modal-header img {
    float: left;
    width: 150px;
    height: 100px;
    -webkit-filter: invert(1);
    filter: invert(1);
}



.modal-header h4 {
    text-align: center;
}

#logo {
    -webkit-filter: invert(1);
    filter: invert(1);
    width: 900px;
    height: 500px;

}

#sidebar {
    height:100vh;
    overflow-y:scroll;
    Display: none;
}

#menu {
    display: none;

}

#navtext {
    display: none;
}


#chatbox {
    display: none;
}

#lgout {
    display: none;
}

#fbprofile {
    height: 500px;
    width: 500px;
}

.panel-body {
    overflow-y: scroll;
    height: 750px;
}

